<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>
<div th:replace="snippets.html :: name_status_popup"></div>


<div class="container">

    <h3>Order Items</h3>


    <!--Edit OrderItem Modal -->
    <div class="modal fade" id="editOrderItemModal" tabindex="-1" role="dialog" aria-labelledby="editOrderItemModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editOrderItemLongTitle">Edit OrderItem</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <form class="form" id="updateOrderItemForm">

                                <div class="form-group">
                                    <label for="editModalOrderCode" class="col-sm-2 col-form-label">Order Id</label>
                                    <div class="col-sm-10">
                                        <input type="text" readonly class="form-control" name="orderCode" id="editModalOrderCode" placeholder="Enter OrderCode">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="editModalBarcode" class="col-sm-2 col-form-label">Barcode</label>
                                    <div class="col-sm-10">
                                        <input type="text" readonly class="form-control" name="barcode" id="editModalBarcode" placeholder="Enter Barcode">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="editModalQuantity" class="col-sm-2 col-form-label">Quantity</label>
                                    <div class="col-sm-10">
                                        <input type="number" min=0  oninput="validity.valid||(value='');" class="form-control" name="quantity" id="editModalQuantity" placeholder="Enter Quantity">
                                    </div>
                                </div>
                                &nbsp;
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="update-orderItem" >Save changes</button>
                </div>
            </div>
        </div>
    </div>




    <!-- Blank Row -->
    <div class="row">
        &nbsp;
    </div>

    <!-- Top row with form-->
    <div class="row">
        <div class="col-12">
            <form class="form" id="orderItem-form">
                <div class="form-group">
                    <label for="inputOrderId" class="col-sm-2 col-form-label">OrderCode</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="orderCode" id="inputOrderId" placeholder="OrderId" required minlength="1" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputBarcode" class="col-sm-2 col-form-label">Barcode</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="barcode" id="inputBarcode" placeholder="Enter Barcode" required minlength="1"><span class="errors" id="barcodeError"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputQuantity" class="col-sm-2 col-form-label">Quantity</label>
                    <div class="col-sm-10">
                        <input type="number" min=0 oninput="validity.valid||(value='');" class="form-control" name="quantity" id="inputQuantity" placeholder="Enter Quantity" required><span class="errors" id="quantityError"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputQuantity" class="col-sm-2 col-form-label">Price</label>
                    <div class="col-sm-10">
                        <input type="number" min=0 step=".01" oninput="validity.valid||(value='');" class="form-control" name="price" id="inputSellingPrice" placeholder="Enter Selling Price" required><span class="errors" id="priceError"></span>
                    </div>
                </div>

                <button type="button" class="btn btn-primary" id="add-orderItem">Add</button>
                &nbsp;
            </form>
        </div>
    </div>


    <!-- Blank Row -->
    <div class="row">
        &nbsp;
    </div>
    <div class="row">

        <!-- Table -->
        <div class="col-12">
            <table class="table table-striped" id="orderItem-table">
                <thead>
                <tr>
                    <th scope="col">BARCODE</th>
                    <th scope="col">PRODUCT</th>
                    <th scope="col">QUANTITY</th>
                    <th scope="col">PRICE</th>
                    <th scope="col">TOTAL</th>
                    <th scope="col">ACTION</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>

        </div>
    </div>


    <!-- Table -->
    <div class="col-12" >
        <table class="table table-striped" id="placed-order-item-table" style="display:none;">
            <thead>
            <tr>
                <th scope="col">BARCODE</th>
                <th scope="col">PRODUCT</th>
                <th scope="col">QUANTITY</th>
                <th scope="col">PRICE</th>
                <th scope="col">TOTAL</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>

    </div>
</div>




</div>

<!-- Blank Row -->
<div class="row">
    &nbsp;
</div>

<div class="row" >
    &nbsp;<button type="button" class="btn btn-primary" id="place-order" style="display:block; margin: 0 auto;">Place Order</button>
    <br>
</div>


<div class="row">
    &nbsp;<span class = "errors" id="place-order-error" style="text-align: center; margin: 0 auto;"></span>

</div>

<div class="row" >
    &nbsp;<button type="button" class="btn btn-primary" id="download-invoice" style="display:none; margin: 0 auto">Download Invoice</button>
    <br>
</div>


<!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>

<script th:src="@{/static/orderItem.js}"/></script>

</body>

</html>