<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>

<div class="container">

    <h3>ORDERS</h3>

<!--    Blank Row-->

    <div class="row">
        &nbsp;
    </div>

    <!-- Top row with form-->
    <div class="row">
        <div class="col-12">
            <form class="form-inline" id="orders-form">
                <button type="button" class="btn btn-primary" id="create-order">Create Order</button>&nbsp;
            </form>
        </div>
    </div>


    <!-- Blank Row -->
    <div class="row">
        &nbsp;
    </div>
    <div class="row">

        <!-- Table -->
        <div class="col-12">
            <table class="table table-striped" id="orders-table">
                <thead>
                <tr>
                    <th scope="col">ORDERID</th>
                    <th scope="col">STATUS</th>
                    <th scope="col">DATE TIME</th>
                    <th scope="col">ACTION</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>

        </div>
    </div>


</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>

<script th:src="@{/static/orders.js}"/></script>

</body>

</html>