<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>

<div class="container">

  <h3>YOU CAN SEE REPORTS HERE</h3>

    <div class="row">
      &nbsp;
    </div>


  <div class="container">
    <a class="navbar-brand" th:href="@{/ui/reports/salesReport}">
      <figure class="figure">
        <img th:src="@{/static/salesreport.jpg}" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
        <figcaption class="figure-caption" style="font-weight:bold;">SALES REPORT.</figcaption>
      </figure>
    </a>

    <a class="navbar-brand" th:href="@{/ui/reports/brandsReport}">
      <figure class="figure">
        <img th:src="@{/static/salesreport.jpg}" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
        <figcaption class="figure-caption" style="font-weight:bold;">BRAND REPORT</figcaption>
      </figure>
    </a>

    <a class="navbar-brand" th:href="@{/ui/reports/inventoryReport}">
      <figure class="figure">
        <img th:src="@{/static/salesreport.jpg}" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
        <figcaption class="figure-caption" style="font-weight:bold;">INVENTORY REPORT</figcaption>
      </figure>
    </a>

  </div>



</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>


</body>

</html>