<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>

<div class="container">

  <h3>YOU CAN SEE REPORTS HERE</h3>

    <div class="row">
      &nbsp;
    </div>


  <div class="container">
    <a class="navbar-brand" th:href="@{/site/salesReport}">
      <figure class="figure">
        <img th:src="@{/static/salesreport.jpg}" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
        <figcaption class="figure-caption" style="font-weight:bold;">SALES REPORT.</figcaption>
      </figure>
    </a>

    <a class="navbar-brand" th:href="@{/site/brandsReport}">
      <figure class="figure">
        <img th:src="@{/static/salesreport.jpg}" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
        <figcaption class="figure-caption" style="font-weight:bold;">BRAND REPORT</figcaption>
      </figure>
    </a>

    <a class="navbar-brand" th:href="@{/site/inventoryReport}">
      <figure class="figure">
        <img th:src="@{/static/salesreport.jpg}" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
        <figcaption class="figure-caption" style="font-weight:bold;">INVENTORY REPORT</figcaption>
      </figure>
    </a>

  </div>



  <!-- Top row with form-->
<!--  <div class="row">-->
<!--    <div class="col-12">-->
<!--      <form class="form-inline" id="brand-category-form">-->
<!--        <div class="form-group">-->
<!--          <label for="inputBrand" class="col-sm-2 col-form-label">Brand</label>-->
<!--          <div class="col-sm-10">-->
<!--            <input type="text" class="form-control" name="brand" id="inputBrand" placeholder="Enter Brand">-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <label for="inputCategory" class="col-sm-2 col-form-label">Category</label>-->
<!--          <div class="col-sm-10">-->
<!--            <input type="text" class="form-control" name="category" id="inputCategory" placeholder="Enter Category">-->
<!--          </div>-->
<!--        </div>-->

<!--        <button type="button" class="btn btn-primary" id="add-brand-category">Add</button>-->
<!--        &nbsp;-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->


<!--  &lt;!&ndash; Blank Row &ndash;&gt;-->
<!--  <div class="row">-->
<!--    &nbsp;-->
<!--  </div>-->
<!--  <div class="row">-->

<!--    &lt;!&ndash; Table &ndash;&gt;-->
<!--    <div class="col-12">-->
<!--      <table class="table table-striped" id="brand-category-table">-->
<!--        <thead>-->
<!--        <tr>-->
<!--          <th scope="col">ID</th>-->
<!--          <th scope="col">BRAND</th>-->
<!--          <th scope="col">CATEGORY</th>-->
<!--          <th scope="col">ACTION</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->

<!--        </tbody>-->
<!--      </table>-->

<!--    </div>-->
<!--  </div>-->


</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>

<!--<script th:src="@{/static/brands.js}"/></script>-->

</body>

</html>